.info-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1320px;
    width: 100%;
    min-height: 660px;
}

.info-img {
    width: 700px;
    border-top-right-radius: 20px;
    box-shadow: 0.2px 3px 15px;
}

.info {
    max-width: 480px;
    width: 100%;
}


@media(max-width: 1279px) {
    .info-page {
        flex-direction: column;
        margin: 100px 0;
    }
    .info-box {
        margin-top: 60px;
    }
}

@media(max-width: 600px) {
    .info-page {
        padding: 0 6px;
    }
}
